.section
  blockquote
    | Twitterのユーザー名と天気を連携させます。
    br
    | 「-tenki-」のところが現在の天気の絵文字になります。
    br
    | 例）杉田_-tenki-_賢人 => 「杉田_☀️_賢人」
    br
    | ＊更新は15分ごとです。
= form_with model: current_user, local: true do |f|
  .row
    .input-field.col.s12
      i.material-icons.prefix
        | explore
      = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {include_blank: "あなたの都道府県を教えてね！"}
      label
        | 都道府県
  .row
    .input-field.col.s12
      i.material-icons.prefix
        | create
      = f.text_field :modify_name, placeholder: '変更後の名前を入力してね！'
  .center.col.s12
    = button_tag :type => "submit", :class =>"btn waves-effect waves-light yellow darken-4" do
      | 保存
      i.material-icons.right
        | send

.section
.section
.section
.section.blue.lighten-5.z-depth-1
  .row
    .col.s10.offset-s1
      .input-field
        textarea.materialize-textarea
          = "FEEL WEATHERを始めました！\u{2600}\n現在の天気をアカウント名に！\u{1F31F}"
      .center.col.s12
        a.btn.waves-effect.waves-light.light-blue.darken-1.pulse href="http://twitter.com/share?url=http://otenki.popapp.me/&text=FEEL WEATHERを始めました！☀️現在の天気をアカウント名に！🌟" target="_blank"
          | ツイート
          i.material-icons.right
            | share

.section
.section
  .row
    .col.s10.offset-s1.m4.offset-m4
      ul.collection.with-header
        li.collection-header
          h4
            | 絵文字対応表
          p
            | Twitterのアプリやweb版、スマホの違いで微妙にデザインが変わります。
        li.collection-item
          div
            | 晴れ
            a.secondary-content href=""
              = "\u{2600}"
        li.collection-item
          div
            | 夜晴れ
            a.secondary-content href=""
              = "\u{1F31F}"
        li.collection-item
          div
            | 晴れときどき曇り
            a.secondary-content href=""
              = "\u{26C5}"
        li.collection-item
          div
            | 曇り
            a.secondary-content href=""
              = "\u{2601}"
        li.collection-item
          div
            | 小雨
            a.secondary-content href=""
              = "\u{2614}"
        li.collection-item
          div
            | 雨
            a.secondary-content href=""
              = "\u{1F327}"
        li.collection-item
          div
            | 雷雨
            a.secondary-content href=""
              = "\u{26C8}"
        li.collection-item
          div
            | 雪
            a.secondary-content href=""
              = "\u{2744}"
        li.collection-item
          div
            | 霧
            a.secondary-content href=""
              = "\u{1F301}"

javascript:
  $(document).ready(function(){
    $('select').material_select();
  });
