<div class="container error">
  <div class="center-block">
    <div class="error__content">
      <p>
        申し訳ありません。お探しのページが表示できません。
        <br><%= link_to "こちら", root_path %>からお戻りください。
      </p>
    </div>
  </div>
</div>
